/* progressbar detail */

.progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #edc4c4;
    height: 6px;
}

.progress-bar {
    height: 6px;
    background: var(--main-nav-color);
    width: 0%;
    transition: all 0.1s ease;
}

/* stack detail */

main #about .stack {
    padding: 19px;
    border: 1px solid var(--main-sub-color);
    transition-delay: 1s;
}

main #about .stack:hover {
    padding: 20px;
    border: none;
    transition-delay: 0s;
}

main #about .stack span {
    display: block;
}

main #about .stack::before,
main #about .stack::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.15s linear;
    background: var(--main-sub-color);
}

span::before,
span::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.15s linear;
    background: var(--main-sub-color);
}

main #about .stack:hover::before,
main #about .stack:hover::after {
    width: 100%;
}

main #about .stack:hover span::before,
main #about .stack:hover span::after {
    height: 100%;
}

main #about .stack::after {
    left: 0;
    bottom: 0;
    transition-delay: 0.3s;
}

main #about .stack span::after {
    right: 0;
    bottom: 0;
    transition-delay: 0.15s;
}

main #about .stack::before {
    right: 0;
    top: 0;
    transition-delay: 0s;
}

main #about .stack span::before {
    left: 0;
    top: 0;
    transition-delay: 0.45s;
}

main #about .stack:hover::after {
    transition-delay: 0.15s;
}

main #about .stack:hover span::after {
    transition-delay: 0.3s;
}

main #about .stack:hover::before {
    transition-delay: 0.45s;
}

main #about .stack:hover span::before {
    transition-delay: 0s;
}

/* hand detail */

main #about .stacktext .hand {
    animation: shakeHand 1.5s infinite;
}

@keyframes shakeHand {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(13deg);
    }
    48% {
        transform: rotate(-13deg);
    }
    56% {
        transform: rotate(13deg);
    }
    64% {
        transform: rotate(-13deg);
    }
    72% {
        transform: rotate(0deg);
    }
}
