* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #191905;
}

:root {
    --main-bg-color: #fbfafd;
    --main-sub-color: #393939;
}

/*header detail*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: var(--main-bg-color);
    padding: 0 24px;
    border-right: solid 1px var(--main-sub-color);
    overflow-y: hidden;
}

header h1 {
    width: 100%;
    height: 24px;
    padding: 48px 0 6px 0;
}

header h1 a {
    display: block;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

header h2 {
    padding: 0 0 48px 0;
}

header .main nav ul li {
    padding: 0 0 30px 0;
}

header .main hr {
    margin: 6px 0;
}

header .link {
    padding: 0 0 30px 0;
}

header .link nav {
    padding: 10px 0;
}

header .link nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .link nav ul li a i {
    font-size: 27px;
    color: var(--main-sub-color);
}

header .link p a {
    text-decoration: underline;
    line-height: 24px;
    font-weight: 300;
}
/*main detail*/